
<template>
  <div class="order-view">
    <h1>Your Order</h1>
    <div v-if="order.orderItems.items.length">
      <OrderItemList :items="order.orderItems.items" />
      <div class="order-total">Total: {{ $filters.asEuro(order.total) }}</div>
    </div>
    <div v-else>Loading your order …</div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import OrderItemList from './OrderItemList.vue';

const store = useStore();
const order = computed(() => store.getters['OrderModule/order']);
const updateOrder = () => {
  store.dispatch('OrderModule/updateOrder');
};

updateOrder();
</script>

<style scoped></style>
