<template>
  <div
      v-if="productData && productData.productId"
      class="order-item">
    <div class="item-name">{{ productData.name }}</div>
    <div class="item-id">product ID: {{ productData.productId }}</div>
    <div class="item-quantity">Quantity: {{ item.quantity }}</div>
    <div class="item-price">{{ $filters.asEuro(item.price) }}</div>
  </div>
</template>

<script setup>
import { computed, defineProps } from 'vue';
import { useStore } from 'vuex';
const store = useStore();
const props = defineProps({
 item: {
    type: Object,
    required: true,
  },
});
const productData = computed(() => store.getters['ProductModule/products'][props.item.productId] || '');
</script>

<style scoped>
</style>
