<template>
  <ol class="order-item-list">
    <li
        v-for="(item, index) in items"
        :key="index">
      <OrderItem :item="item" />
      <hr>
    </li>
  </ol>
</template>

<script setup>
import OrderItem from './OrderItem.vue';
import { computed, defineProps } from 'vue';
import { useStore } from 'vuex';
const store = useStore();
const props = defineProps({
 items: {
    type: Array,
    required: true,
  },
});
</script>

<style scoped>
</style>
